<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Sistem Pakar Ekstrakurikuler</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
      <h1>SISTEM PAKAR EKSTRAKULIKULER</h1>
      <p>Ayo ikuti konsultasi untuk mengetahui ekstrakurikuler yang cocok untukmu!</p>
      <button class="cssbuttons-io-button">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
        <a href="{{ url_for('question') }}">Mulai Konsultasi</a>
      </button>
      <div class="wrapper">
        <img src="static/assets/2.svg" class="logo" alt="Logo">
        <img src="static/assets/3.svg" class="logo1" alt="Logo">
        <img src="static/assets/4.svg" class="logo2" alt="Logo">
        <img src="static/assets/5.svg" class="logo3" alt="Logo">
      </div>
  </div>
</body>
</html>
